body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}
h1 {
    color: #ff6347; /* Tomato color */
    font-size: 2em; /* 2 times the current font size */
    text-align: center; /* Center align */
}