body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}

.form-containerActa {
    background-color: #ffa420;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; /* Alinea horizontalmente el contenedor */
}

/* Estilos para los botones dentro del contenedor */
.form-containerActa button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #003777;
    transition: all 0.3s ease;
    color: white;
    text-align: center;
    border: none;
    margin-right: 10px; /* Ajusta el margen entre botones según sea necesario */
}

.form-containerActa button:hover {
    transform: scale(1.1);
}

/* Estilos para otros elementos (puedes agregar más según sea necesario) */
.form-containerActa label {
    color: white;
    margin-bottom: 5px; /* Ajusta el margen inferior entre etiquetas */
}

.form-containerActa input {
    padding: 8px;
    margin-bottom: 10px; /* Ajusta el margen inferior entre entradas */
    width: 100%; /* O ajusta el ancho según tus necesidades */
}

/* Estilos adicionales existentes en tu archivo */
.superiorActa {
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    margin-bottom: 30px;
}

.tituloActa {
    margin-top: 0px;
    font-size: 34px;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #003777;
    transition: all 0.3s ease;
    color: black;
    width: 90px;
    text-align: center;
    border: none;
    margin-left: 40%;
}

button[type="submit"]:hover {
    transform: scale(1.1);
}

.contenedor-principal-acta {
    width: 50%;
    margin: 0 auto;
}
