body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
    background: linear-gradient(to bottom, #CF2E2E, #003770);
}

img {
    width: 307px;
    height: 130px;
    object-fit: cover;
    border-radius: 2%;
}

.titulo {
    font-size: 24px;
    margin-top: 20px;
    color: #ffffff;

}

.form-group {
    margin-top: 20px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group label {
    font-weight: bold;
    
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.form-group input[type="text"],
.form-group input[type="date"] {
    width: 300px;
    padding: 5px;

    /*margin: 0 auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group input[type="file"] {
    width: 250px;

    /*margin: 0 auto;*/

    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
