.footer {
    max-width: 100%;
  
    z-index: 1;
    margin-left: 0;
    grid-row: 3 / -1;
    grid-column: 2 / -1;
   background: #012746;
    text-align: center;
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex; /* Añadido */
    text-align: center;
    justify-content: center; /* Añadido */
    align-items: center; /* Añadido */
}

.derechos {
    display: flex;
    color: #ffffff;
    font-size: 14px;
    margin-right: 20px; /* Añadido */
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    
}

