.superiorC{
    padding-top:10px;
    margin-top: 0px;
    align-items: center;
}

.titulo {
    font-size: 34px; 
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;

}
p {
    color: #999;
    line-height: 1.6;
}

.containerF{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh; 

}

.contentFrente{
    font-family: 'Arial', sans-serif;
    /*background-color: #f4f4f4;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    width: 100%; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.superior {
    margin-top: 10px;
    background: linear-gradient(to bottom, #CF2E2E, #003770);
}

.imagen-registro {
    width: 200px; 
    height: auto; 
    object-fit: cover;
    border-radius: 2%;
}


.botonRegistrar{
    background-color: #4CAF50; 
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    margin-left: 130px;



}
.botonRegistrar:hover {
    background-color: #45a049;
    transform: scale(1.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


