.superiorF{
    padding-top:10px;
    margin-top: 0px;
    align-items: center;
}

.titulof{
    font-size: 34px; 
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;

}
p {
    color: #999;
    line-height: 1.6;
}

.containerPrincipalF{
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.contentFrente{
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    border-radius: 20px;
    height: 90vh;
    padding: 30px;
}

.botonRegistrar{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 100px; 
    text-align: center;
    border: none;
    margin-left: 40%;


}
.botonRegistrar:hover {
    transform: scale(1.1); 
}


