/*.header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: grid;
    background: #021d3e;
    width: 100vw;
    
    
}*/
/*grid-template-columns: 25% 55% 20%;*/
.header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background: #021d3e;
    left: 0;
    z-index: 1;
   
  
}
.app-title{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 2%;
    margin-top: 1px;
    margin-left: 4%;
   
}
.app-title h1 {
    color: #ffff;
    margin: 0;
}
.nombres{
    display: block;
    
}
.nombres p{
    color: #ffff;
    
}


.user-info {
    display: flex;
    align-items: center;
}

.logo-umss {
    width: 40px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantén la proporción de la imagen */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
}

.info-text {
    text-align: center; /* Centra el texto verticalmente */
}

.username {
    display: block; /* Para que el texto aparezca en una nueva línea */
    font-weight: bold;
}

.roles-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.roles-list li {
    font-weight: bold;
}


.navbar-right .btn-danger {
    margin-top: 15px;
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 5px; 
}