.superiorH {
    padding-top: 0px;
    align-items: center;
    margin-bottom: 30px;
}

.tituloH {

    font-size: 34px; 
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}

.contH {
    background-color: #fff;
    max-width: 800px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 170vh;
    padding: 30px;
}

.containerPrincipalH{
    width: 50%; 
    margin-left: 20%;
    

}


.TablaHistorico {
    width: 100%; /* Hacer la tabla ocupar el 100% del ancho disponible */
    border-collapse: collapse;
    margin: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Ajustar el relleno según sea necesario */

    padding: 8px;
    background-color: #fff;
    text-align: center; 

}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(251, 90%, 12%);
    color: white;
    text-align: center;
}
.btn_informe_final{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 90px; 
    text-align: center;
    border: none;

}

.btn_informe_final:hover {
    transform: scale(1.1); 
}

/*historico Informacion*/

.superiorHI {
    padding-top: 0px;
    align-items: center;
    margin-bottom: 30px;
}

.tituloHI {

    font-size: 34px; 
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.contHinf {
    background-color: #fff;
    max-width: 2000px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    /*text-align: center;*/
    border-radius: 20px;
    height: 350vh;
    padding: 30px;
}

.containerPrincipalHinf{
    width: 80%; 
    margin-left:5%;
    

}

.TablaInformacion {
    width: auto; /* Hacer la tabla ocupar el 100% del ancho disponible */
    border-collapse: collapse;
    margin: 0 auto;
}
