body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: solid thin #ddd;
}

button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 20px; 
}

button:hover {
    background-color: #0056b3;
}