.superioJ {
  padding-top: 0px;
  margin-top: 0px;
  align-items: center;
}

.tituloJ{
  font-size: 60px; 
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;

}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f1e4;
  margin: 0;
  padding: 0;
}

.form-containerActaJ {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 120vh; /* Esto asegura que ocupe el 100% del alto de la ventana */
  padding-bottom: 40px;
}

.formularioActaJ{
  font-family: 'Arial', sans-serif;
  /*background-color: #f4f4f4;*/
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Ajusta según sea necesario */
  width: 90%; /* Para ocupar el 100% del ancho del contenedor */
  padding: 20px;
  border-radius: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.botonVerdeJ{
  background-color: #4CAF50; /* Puedes cambiar "green" por cualquier color que desees */
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Add these new styles */
p {
  color: #999;
  line-height: 1.6;
}
.imagen-estilo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container_jurado {
  border-top: 0px;
  margin-top: auto; /* Change this line */
  text-align: center; /* Change this line */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_jurado_a{
  margin-top: 10px;
  background: linear-gradient(to bottom, #CF2E2E, #003770);
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 30%; /* Ocupa todo el alto disponible */
}

.titulo {
  font-size:auto; /* Change this line */
  color:#ffffff; /* Change this line */
}

.imagen-registro {
  width:auto; /* Change this line */
  height:auto; /* Change this line */
}

h1 {
  margin-top:auto; /* Change this line */
}

input[type="text"] {
  width:auto; /* Change this line */
}

/* Add these new styles for the file input field */
input[type="file"] {
  width:auto; /* Change this line */
}
.button-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}
.titulo {
  font-size: 24px;
  margin-top: 20px;
  color: #ffffff;
}
.imagen-registro {
  width: 200px; 
  height: auto; 
  object-fit: cover;
  border-radius: 2%;
}
