/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 80px; 
}

/* Estilos para las celdas de la tabla */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Estilos para las celdas de encabezado */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(251, 90%, 12%);
    color: white;
}

h1 {
    color: #ff6347; 
    font-size: 2em; 
    text-align: center; 
}
