.superiorDash{
    padding-top:10px;
    margin-top: 0px;
    align-items: center;
}

.titulo {
    font-size: 40px; 
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}
.containerDash {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 80vh; 
}


.formularioDash{
    font-family: 'Arial', sans-serif;
    /*background-color: #f4f4f4;*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 700px; 
    width: 100%; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row a {
    text-decoration: none;
}

.card {
    background-color: #152045;
    color: #fff; /* Cambia el color al pasar el ratón sobre la tarjeta */
}
.card:hover {
    background-color: #165a86; /* Cambia el color al pasar el ratón sobre la tarjeta */
}
.avatar-md{
    font-size: 25px;
}
.panel {
    
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    margin-left: 10px;
}
.button-container {
    display: flex;
}

.button {
    /*width: 150px;
    height: 100px;
    margin: 10px;
  
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;*/

    width: 150px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square-button:hover {
    background-color: #2980b9;
}


