.superiorP {
    margin-top: 30px;
    padding-top: 0px;
    align-items: center;
}

.tituloP {
    margin-top: 30px;

    font-size: 34px; 
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;


}
body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}

.contenedorPapeleta{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 90vh;
}

.miTablaPapeleta {
    width: 95%;
    border-collapse: collapse;
    margin-left: 30px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;

}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(251, 90%, 12%);
    color: white;
    text-align: center;

}

.vote-box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: inline-block;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button {
    display: flex;
    /* Tus estilos para .save-button van aquí */
}