body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    color: #333;
    text-align: center;
}
.title-poblacion{
    text-align: left;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.card-body {
    padding: 20px;
}

.miFormulario {
    display: flex;
    justify-content: center;
}

.seleccion {
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.btn-footer {
    display: flex;
    justify-content: space-between;
}

.save-button {
   margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border : none;
   border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    margin-left: 63%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
