/* Estilos generales para la tabla */
.contenerVm{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
}

.contenerLj{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 50vh;
}

.contenerVPM{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 170vh;
}

.superiorVm {
    margin-top: 30px;
    padding-top: 0px;
    align-items: center;
}

.tituloVm {
    margin-top: 30px;

    font-size: 34px; 
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;


}


body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}

.miTablaMesa {
    width: 95%;
    border-collapse: collapse;
    margin-left: 30px;
}

/* Estilos para las celdas de la tabla */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;

}

/* Estilos para las celdas de encabezado */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(251, 90%, 12%);
    color: white;
    text-align: center;

}
.botonVerdeVm{
    background-color: #4CAF50; 
    color: white;
    border-radius: 12px;
    margin: 20px;
    padding: 20px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    
}

.btn-primary {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent;
}

.btn-primary .fas.fa-info {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}

.btn_comite {
    font-size: 28px;
    background-color: transparent; 
    border: none; 
}

.btn-secondary {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent; 
}
.btn-secondary:hover {
    background-color: #0d6efd; 
}

.btn-secondary .fa-sheet-plastic {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}

.btn_mesas {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent; 
}

.btn_mesas .fa-person-booth {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}
.btn_mesas:hover {
    background-color: #0d6efd; 
}

.btn_frente {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent; 
}

.btn_frente .fa-users-viewfinder {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}
.btn_frente:hover {
    background-color: #0d6efd; 
}

.btnConvocatoria{
    background-color: #4CAF50; 
    color: white;
    border-radius: 12px;
    margin-top: 30px;
    padding: 20px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s;
}
.btnConvocatoria:hover {
    transform: scale(1.1); 
}

/*votones Listado de Mesas*/


.btnagregarInformacion {
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
}

.btnagregarInformacion:hover {
    transform: scale(1.1); 
}


.btnPoblacionVotante {
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
    border: none;
}

.btnPoblacionVotante:hover {
    transform: scale(1.1); 
}

.btn_jurados{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
    border: none;
}

.btn_jurados:hover {
    transform: scale(1.1); 
}

.btn_descargar_acta{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
    border: none;
}

.btn_descargar_acta:hover {
    transform: scale(1.1); 
}

.btn-RegistrarActa{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #EC0033; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
    border: none;
}

.btn-RegistrarActa:hover {
    transform: scale(1.1); 
}
/*añadido*/

.btn_remplazar_comite{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 90px; 
    text-align: center;
    border: none;
    
}

.btn_remplazar_comite:hover {
    transform: scale(1.1); 
}