/* Estilos generales para la tabla */
.contenerVm{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
}

.contenerLj{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 50vh;
}

.contenerVPM{
    background-color: #fff;
    max-width: 1100px;
    width: 100%;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    border-radius: 20px;
    height: 400vh;
}

.superiorVm {
    margin-top: 30px;
    padding-top: 0px;
    align-items: center;
}

.tituloVm {
    margin-top: 30px;

    font-size: 34px; 
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;


}


body{
    font-family: 'Arial', sans-serif;
    background-color: #f5f1e4;
    margin: 0;
    padding: 0;
}

.miTablaMesa {
    width: 95%;
    border-collapse: collapse;
    margin-left: 30px;
}

/* Estilos para las celdas de la tabla */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #fff;

}

/* Estilos para las celdas de encabezado */
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: hsl(251, 90%, 12%);
    color: white;
    text-align: center;

}
.botonVerdeVm{
    background-color: #4CAF50; 
    color: white;
    border-radius: 12px;
    margin: 20px;
    padding: 20px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    
}

.btn-primary {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent;
}

.btn-primary .fas.fa-info {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}

.btn_comite, .btn_frente, .btn_mesas, .btn_papeleta {
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 70px; 
    text-align: center;
    border: none;
    
}

.btn_comite:hover, .btn_frente:hover, .btn_mesas:hover, .btn_papeleta:hover {
    transform: scale(1.1); 
}

.btn-secondary {
    color: #6f6f6f; 
    border: none; 
    background-color: transparent; 
}
.btn-secondary:hover {
    background-color: #0d6efd; 
}

.btn-secondary .fa-sheet-plastic {
    font-size: 34px;
    background-color: transparent; 
    border: none; 
}

.btnConvocatoria{
    background-color: #4CAF50; 
    color: white;
    border-radius: 12px;
    margin-top: 30px;
    padding: 20px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s;
}
.btnConvocatoria:hover {
    transform: scale(1.1); 
}

/*votones Listado de Mesas*/


.btnagregarInformacion, .btnPoblacionVotante, .btn_jurados, .btn_descargar_acta {
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
}

.btnagregarInformacion, .btnPoblacionVotante, .btn_jurados, .btn_descargar_acta:hover {
    transform: scale(1.1); 
}


.btn-RegistrarActa, .btn_VOTOS{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #EC0033; 
    transition: all 0.3s ease; 
    color: white;
    width: 60px; 
    text-align: center;
    border: none;
}

.btn-RegistrarActa, .btn_VOTOS:hover {
    transform: scale(1.1); 
}
/*añadido*/

.btn_remplazar_comite{
    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #003777; 
    transition: all 0.3s ease; 
    color: white;
    width: 90px; 
    text-align: center;
    border: none;
    
}

.btn_remplazar_comite:hover {
    transform: scale(1.1); 
}

.mostrar-grafico-btn {
    background-color: #003777; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mostrar-grafico-btn:hover {
    background-color: #207dbb; /* Cambia el color de fondo al pasar el puntero sobre el botón */
}
.actualizar-resultados {
    margin-top: 30px;


    display: inline-block;
    padding: 10px; 
    border-radius: 5px; 
    background-color: #EC0033; 
    transition: all 0.3s ease; 
    color: white;
    width: 190px; 
    text-align: center;
    border: none;
    /*
    margin-top: 30px;
    background-color: #FF0000; 
    color: #FFFFFF; 
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.actualizar-resultados:hover {
    transform: scale(1.1); 

    /*background-color: #ff440073; /* Color de resaltado al pasar el mouse */
}